.alliance_container{
    display: grid;
    gap: 1em;
}
.alliance_container h3{
    color: #ECBF34;
    font-size: 34px;
    text-align: center;
}
.alliance_items{
    display: flex;
    align-items: center;
    gap: 2em;
    justify-content: center;
}
@media only screen and (min-width: 821px) {
    .alliance_container {
        justify-content: inherit;
    }
    .alliance_items { 
        justify-content: space-around;
        align-items: center;
    }
}