.home__container{
    display: grid;
    grid-template-areas: "subtitle"
                         "title"
                         "team";
    grid-template-rows: min-content min-content min-content;
    justify-content: center;
    align-items: center;
    gap: 1em;
    text-align: center;
  }
  .home__subtitle{
    grid-area: subtitle;
  }
  .home__title{
    grid-area: title;
  }
  .home__team{
    width: 258px;
    grid-area: team;
    margin: 0 auto;
  }
  .home__title_red{
    color: #852229;
  }