.home__container{
    display: grid;
    grid-template-areas: "subtitle"
                         "title"
                         "team";
    grid-template-rows: min-content min-content min-content;
    justify-content: center;
    align-items: center;
    gap: 1em;
    text-align: center;
  }
  .home__subtitle{
    grid-area: subtitle;
  }
  .home__title{
    grid-area: title;
  }
  .home__team{
    width: 220px;
    grid-area: team;
    margin: 0 auto;
  }
  .home__title_red{
    color: #852229;
  }
  /* Para 960px */  
@media only screen and (min-width: 821px) {  
  .home__container{
    display: grid;
    grid-template-areas: "subtitle team"
                         "title team";
    grid-template-rows: min-content min-content;
    grid-template-rows: .2fr 1fr;
    grid-template-columns: 1fr 1.2fr;
    justify-content: center;
    align-items: center;
    gap: 1em 4em;
    text-align: center;
    height: calc(100vh - 120px);
  }
  .home__team{
    width: 512px;
  }
  .home__title{
    align-self: flex-start;
    text-align: start;
    margin: 0 auto;
    gap: 1em;
    display: flex;
    flex-direction: column;
  }
  .home__subtitle{
    align-self: flex-end;
    justify-self: start;
    margin-left: 2.4em;
  }
  h1{
    line-height: 1.5;
    font-size: 54px;
  }
}  
  
/* Para 800px */  
@media only screen and (max-width: 820px) and (min-width: 621px) {  
  .home__container{
    display: grid;
    grid-template-areas: "subtitle team"
                         "title team";
    grid-template-rows: min-content min-content;
    grid-template-rows: .2fr 1fr;
    grid-template-columns: 1fr 1.2fr;
    justify-content: center;
    align-items: center;
    gap: 1em 4em;
    text-align: center;
    height: calc(100vh - 120px);
  }
  .home__team{
    width: 512px;
  }
  .home__title{
    align-self: flex-start;
    text-align: start;
    margin: 0 auto;
    gap: 1em;
    display: flex;
    flex-direction: column;
  }
  .home__subtitle{
    align-self: flex-end;
    justify-self: start;
    margin-left: 2.4em;
  }
  h1{
    line-height: 1.5;
    font-size: 54px;
  }
}  
  
/* Para 600px */  
@media only screen and (max-width: 620px) and (min-width: 501px) {  
  .home__container{
    display: grid;
    grid-template-areas: "subtitle team"
                         "title team";
    grid-template-rows: min-content min-content;
    grid-template-rows: .2fr 1fr;
    grid-template-columns: 1fr 1.2fr;
    justify-content: center;
    align-items: center;
    gap: 1em 4em;
    text-align: center;
    height: calc(100vh - 120px);
  }
  .home__team{
    width: 512px;
  }
  .home__title{
    align-self: flex-start;
    text-align: start;
    margin: 0 auto;
    gap: 1em;
    display: flex;
    flex-direction: column;
  }
  .home__subtitle{
    align-self: flex-end;
    justify-self: start;
    margin-left: 2.4em;
  }
  h1{
    line-height: 1.5;
    font-size: 54px;
  }
}  