.objectives__container{
    display: grid;
    grid-auto-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    /* gap: 1em; */
    text-align: center;
    height: 100vh;
}
.objectives__items{
    display: grid;
    align-items: center;
    gap: 1em;
    grid-template-columns: min-content 1fr;
    justify-items: center;
}
.objectives__items_details{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.objectives__items_details h6{
    font-size: 18px;
}
.objectives__items_details p{
    font-size: 16px;
}
.objectives__items_iamge{
    width: 120px;
    margin: 0 auto;
}

/* Para 960px */  
@media only screen and (min-width: 821px) {  
    .objectives__container{
        gap: 2em;
        height: 50vh;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: #efe2e3;
        padding: 0 2em;
    }
    .objectives__items{
        grid-template-columns: auto;
    }
    .objectives__items_iamge {
        width: 150px;
        height: 170px;
        display: grid;
        align-items: center;
    }
    .objectives__items_details h6 {
        font-size: 20px;
    }
    .objectives__items_details p {
        font-size: 18px;
    }
}  
    
/* Para 800px */  
@media only screen and (max-width: 820px) and (min-width: 621px) {  
    .objectives__container{
        gap: 2em;
        height: 50vh;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: #efe2e3;
        padding: 0 2em;
    }
    .objectives__items{
        grid-template-columns: auto;
    }
    .objectives__items_iamge {
        width: 150px;
        height: 170px;
        display: grid;
        align-items: center;
    }
    .objectives__items_details h6 {
        font-size: 20px;
    }
    .objectives__items_details p {
        font-size: 18px;
    }
}  
    
/* Para 600px */  
@media only screen and (max-width: 620px) and (min-width: 501px) {  
    .objectives__container{
        gap: 2em;
        height: 50vh;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: #efe2e3;
        padding: 0 2em;
    }
    .objectives__items{
        grid-template-columns: auto;
    }
    .objectives__items_iamge {
        width: 150px;
        height: 170px;
        display: grid;
        align-items: center;
    }
    .objectives__items_details h6 {
        font-size: 20px;
    }
    .objectives__items_details p {
        font-size: 18px;
    }
}  