.reward__container{
    display: grid;
    gap: 1.5em;
}
.reward__message figure{
    width: 80px;
}
.reward__message p{
    width: 82%;
    color: #ECBF34;
    font-family: "MontserratAlternates-medium";
    font-size: 26px;
}
.reward__title{
    display: flex;
    justify-content: flex-end;
}
.reward__title h2{
    width: 62%;
    color: #ECBF34;
}
.reward__item{
    display: grid;
    gap: 1em;
}
.reward__item figure{
    width: 242px;
    margin: 0 auto;
}
.reward__item h3{
    font-family: "MontserratAlternates-medium", sans-serif;
    font-size: 24px;
    text-align: center;
}

.reward__item button{
    background: #ECBF34;
    color: #fff;
    padding: 1em 2em;
    border-radius: 20px;
    font-size: 18px;
    width: 50%;
    margin: 0 auto;
}
@media only screen and (min-width: 821px) {
    .reward__container {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    .reward__container figure{
        width: 42vw;
    }
    .reward__message figure {
        width: 80px;
        align-self: center;
    }
    .reward__message p {
        width: 56%;
    }
    .reward__title{
        grid-column: span 2;
    }
    .reward__title h2 {
        width: 27%;
        font-size: 48px;
        font-family: 'MONTSERRATALTERNATES-SEMIBOLD';
    }
    .reward__message{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    #reward > div:nth-child(4) > figure{
        width: 466px;
        height: 320px;
    }
    #reward > div:nth-child(5) > figure{
        width: 466px;
        height: 320px;
    }
}